{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}


{% block list_table %}
    <div class="col-xs-12 col-md-12">
        <table class="table table-bordered table-striped sonata-ba-list">
            <thead>
                <tr class="sonata-ba-list-field-header">
                    <th>you youuu youuu</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}


{% block actions %}
{% endblock %}

{% block list_filters_actions %}
{% endblock %}

{% block list_filters %}
{% endblock %}
